{% extends "webapp.html" %}
{% block module %}
<div class="row" style="clear:left">
  <div class="col-sm-8">
    <div class="chart-wrapper">
      <div class="chart-title">Population Shift</div>
      <div class="chart-stage">
        <div id="grid-1-1"><svg/></div>
      </div>
      <div class="chart-notes">The entire population of download complete times</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="chart-wrapper">
      <div class="chart-title">Gain breakout</div>
      <div class="chart-stage">
        <div id="grid-1-2"><svg/>
        </div>
      </div>
      <div class="chart-notes">How are we doing per subset</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Cell Title</div>
      <div class="chart-stage">
        <img data-src="holder.js/100%x120/white">
      </div>
      <div class="chart-notes">Notes about this chart</div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Cell Title</div>
      <div class="chart-stage">
        <img data-src="holder.js/100%x120/white">
      </div>
      <div class="chart-notes">Notes about this chart</div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Traffic portion</div>
      <div class="chart-stage">
        <div id="grid-2-3">
          <svg/>
        </div>
      </div>
      <div class="chart-notes">Based on counts of requests we've seen</div>
    </div>
  </div>
<!-- end of three -->
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Cell Title</div>
      <div class="chart-stage">
        <img data-src="holder.js/100%x120/white">
      </div>
      <div class="chart-notes">Notes about this chart</div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Cell Title</div>
      <div class="chart-stage">
        <img data-src="holder.js/100%x120/white">
      </div>
      <div class="chart-notes">Notes about this chart</div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="chart-wrapper">
      <div class="chart-title">Cell Title</div>
      <div class="chart-stage">
        <img data-src="holder.js/100%x120/white">
      </div>
      <div class="chart-notes">Notes about this chart</div>
    </div>
  </div>
</div>
</div>


<hr>
</div>


<script type="text/javascript" src="static/libs/holder/holder.js"></script>
<script type="text/javascript" src="static/libs/plotly/plotly-latest.min.js"></script>
<script>


window.base_api = "{{ api_url }}";
var s;
Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });

//put the code for this module inside makeGraphs
//the "Run" button will call this function to update the page
function makeGraphs() {
    controls = window.s.read()
    page_url = '?' + $.param(controls)
    console.log('new page url', page_url)
    window.history.pushState(null, 'new graphs', page_url);

    //static information for the page that is now modularized
    population_div = "#grid-1-1"
    gains_div = "#grid-1-2"
    breakout_div = "#grid-2-3"

    makeGains(gains_div, controls);
    //makePopulation(population_div, controls)
    makeBreakout(breakout_div, controls)
    api_query('histogram', { guid: controls.guid, selector: controls.selector, breakout: controls.breakout, comparable: true}).done( function(data) { histogram( "grid-1-1", data ) })
};

function histogram(histogram_div, data) {
    var container = histogram_div;
    var global_total = data.total;

    var index = 0;
    var num_items = 5;

    var all_data = data.series.sort(function(a, b) { return b.sub_total - a.sub_total })
    var to_plot = $.map(all_data.slice(index, index+num_items), function( info, i ) { return info })
    console.log('all', all_data, 'to_plot', to_plot);

    var slice_offset = 1;
    var acc_byp_offset = .3;

    data = []
    $.each(to_plot, function(slice_index, item) {
        console.log('hi', item);
        slice_weight = item.sub_total / global_total
        $.each(['acc', 'byp'], function(class_index, tpclass) {
            console.log('attempting to each', class_index, tpclass, item);
            this_hist = typeof item[tpclass] != 'undefined' ? item[tpclass] : false;
            if (this_hist) {
                tpclass_total = $.map(item[tpclass], function(pairs, i) {return pairs.y}).reduce(function(pv, cv) {return pv + cv})
            } else {
                console.log('boop');
                return
            }
            this_hist.sort(function(a,b){return a.x - b.x})

            console.log('tpclass', 'total', tpclass_total);
            temp_trace = {
                x: [],
                y: [],
                z: [],
                type: 'scatter3d',
                name: item.slice,
                mode: 'lines',
                line: { 'width' : 7 }
            }

            added_total = 0;
            bucket_index = 0;
            trace_index = slice_offset * slice_index + class_index * acc_byp_offset
            while ( bucket_index < this_hist.length && (added_total / tpclass_total) < .8 ) {
                pair = this_hist[bucket_index];
                temp_trace.x.push(trace_index);
                temp_trace.y.push(pair.x);
                temp_trace.z.push(pair.y*slice_weight/tpclass_total);
                added_total += pair.y;
                bucket_index += 1;
            }
            data.push(temp_trace);

        //var details = {x:[], y:[], z:[], type: 'scatter3d'}

        })
    })
    var layout = {
        width: 900,
        height: 600
    };
    Plotly.newPlot(container, data, layout);
    //console.log('shmoop', data);
}
</script>

{% endblock %}
