<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/libs/nvd3/css/nv.d3.css" />
    <script src="static/libs/d3/js/d3.min.js" charset="utf-8"></script>
    <script src="static/libs/nvd3/js/nvd3.js"></script>
    <script src="static/js/samples.js"></script>  
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="./">Layouts &raquo; Hero Thirds</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <!--<li><a href="https://keen.io">Home</a></li>
          <li><a href="https://keen.io/team">Team</a></li>
          <li><a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-thirds">Source</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/keen-io-devs">Community</a></li><li><a href="http://stackoverflow.com/questions/tagged/keen-io?sort=newest&pageSize=15">Technical Support</a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <select id="cid">
      {% for item in customers %}
      <option value={{ item.cid }}>{{ item.name }}</option>
      {% endfor %}
    </select>
    <input id="selector" type="text" name="selector" />
    <select id="breakout">
      {% for subset in subsets %}
      <option value={{ subset }}>{{ subset }}</option>
      {% endfor %}
    </select>
    <input id="fetch" type="button" value="Run" />
    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Population Shift
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
                <svg></svg>
            </div>
          </div>
          <div class="chart-notes">
              The entire population of download complete times
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Gain breakout
          </div>
          <div class="chart-stage">
            <div id="grid-1-2">
              <svg></svg>
            </div>
          </div>
          <div class="chart-notes">
            How are we doing per subset
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
              Traffic portion
          </div>
          <div class="chart-stage">
            <div id="grid-2-3">
              <svg></svg>
            </div>
          </div>
          <div class="chart-notes">
              Based on counts of requests we've seen
          </div>
        </div>
      </div>
<!-- end of three -->
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>
  </div>


    <hr>

  </div>

  <script type="text/javascript" src="static/libs/jQuery/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/comparables.js"></script>

  <script type="text/javascript" src="static/libs/holder/holder.js"></script>
  <script>
    window.base_api = "{{ api_url }}";
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
    function makeGraphs() {
        selector = $( "#selector" ).val()
        breakout = $( "#breakout" ).val()
        cid = $( "#cid" ).val()

        window.history.pushState(null, 'new graphs', '?cid='+cid+'&selector='+selector+'&breakout='+breakout);
        
        population_div = "#grid-1-1"
        gains_div = "#grid-1-2"
        breakout_div = "#grid-2-3"

        makeGains(gains_div, cid,  selector, breakout);
        makePopulation(population_div, cid, selector)
        makeBreakout(breakout_div, cid, selector, breakout)
    };
    $( window ).load( function () {
        cid = $( "#cid" ).val();
        if (cid) { makeGraphs();}
    });
    $( "#fetch" ).click( function() {

        makeGraphs(); 
    });
  </script>


</body>
</html>
