<html>
    <head>
        <title> test for segmentation and breakout boxes</title>
        <style type="text/css">
            .model {
                white-space: nowrap
            }
            .sub {
                display: inline-block
            }
            .description {
                display: none
            }
        </style>
        <script type="text/javascript" src="static/libs/jQuery/js/jquery-1.11.3.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    </head>
    <body>
        <select id="wut">
            <option value="butts">Butts</option>
            <option value="not butts">NB</option>
        </select>
        <script>

            models = {};
            models.breakout = "" +
            "<div id='breakout' class='model'>" +
                "<span class='description'>A drop down for selecting a segment</span>" +
                "<select class='sub'>" +
                    "<option value='network'>Network</option>" +
                    "<option value='geo'>Geo</option>" +
                "</select>" +
                "<button id='expand' class='sub'>></button>" +
            "</div>";

            models.addLayer = "" +
            "<div id='addLayer' class='model'>" +
                "<span class='description'>A button to add a new line of breakout / filter</span>" +
                "<button id='addLayer' class='sub'>+</button>" +
            "</div>";

            models.filter = "" +
            "<div id='filter' class='model'>" +
                "<span class='description'>A way to specify individual subsets</span>" +
                "<div id='logic' class='sub'>" +
                    "<select>" +
                        "<option value='='>equal to</option>" +
                        "<option value='not ='>not equal to</option>" +
                        "<option value='like'>like</option>" +
                        "<option value='not like'>not like</option>" +
                    "</select>" +
                "</div>" +
                "<div id='values' class='sub'>" +
                    "<select>" +
                        "<option value='3G'>3G</option>" +
                        "<option value='Wifi'>Wifi</option>" +
                    "</select>" +
                "</div>" +
            "</div>";

            newRow = function() {
                $("#segControls").append(models.addLayer);
                $("#addLayer").click(function() {
                    $("#addLayer").remove();
                    $("#segControls").append(models.breakout);
                    $("#expand").click(expand);
                });
            };

            expand = function() {
                $("#expand").remove();
                s = $("#segControls");
                ss = s.children()

                $(s.children()[ss.length - 1]).append(models.filter);
                newRow();
            };

            $( window ).load( function() {
                $("#segControls").append(models.breakout);
                $("#expand").click(expand);
                $("#wut").select2();
            });

        </script>


        <div id='segControls'>
        </div>
    </body>
</html>
