<!DOCTYPE html>
<html>
<head>
  <link href="static/css/nv.d3.css" rel="stylesheet">
  <script type="text/javascript" src="static/libs/jQuery/js/jquery-1.11.3.min.js"></script>
  <meta charset="utf-8">
</head>
<body class='with-3d-shadow with-transitions'>
  {{ page_state.breakout }}
  {{ page_state.selector }}
  <br>
  <select id="cid">
    {% for item in customers %}
    <option value={{ item.cid }}>{{ item.name }}</option>
    {% endfor %}
  </select>
  <div id="selectors">
    <div class="segmentationPhrase">
      <select class="segment">
        <option value="network">Network</option>
        <option value="geo">Geo</option>
      </select>
      <button id="filter">></button>
    </div>
      <!-- <select class="logic">
        <option value="=">=</option>
        <option value="not =">!=</option>
        <option value="like">like</option>
      </select>
      <input class="values" type="text" />
      -->
  </div>
  <select id="breakout">
    {% for subset in subsets %}
    <option value={{ subset }}>{{ subset }}</option>
    {% endfor %}
  </select> 
<div id="test1">
  <svg></svg>
</div>
<div id="test2">
  <svg></svg>
</div>
<script> 
  $( window ).load( function() { 
    {% if page_state.cid %}
    $("#cid").val("{{ page_state.cid }}");
    {% endif %}

    {% if page_state.selector %}
    $("#selector").val("{{ page_state.selector }}");
    {% endif %}

    {% if page_state.breakout %}
    console.log("{{ page_state.breakout }}");
    $("#breakout").val("{{ page_state.breakout }}");
    {% endif %}
  });
  $("#filter").click( function() {
    $("#filter").css("display", "none");
    s = $("#selectors");
    ss = s.children();
    
    $(s.children()[ss.length - 1]).append("<input type='text'>");
    $(s).append("<div class='segmentationPhrase'><button id='newSeg'>+</button></div>");
    $("#newSeg").click( function() {
      $(s.children()[ss.length]).html();
    })
  })
</script>
</body>
</html>
