<!DOCTYPE html>
<html>
<head>
    <title>Multipurpose Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/libs/nvd3/css/nv.d3.css" />
    <script src="static/libs/d3/js/d3.min.js" charset="utf-8"></script>
    <script src="static/libs/nvd3/js/nvd3.js"></script>
    <script type="text/javascript" src="static/libs/jQuery/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/comparables.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <script src="static/libs/select2/select2.min.js"></script>
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">TwinPrime Profiling Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div id="controls" style="width:100%; overflow:auto">
      <div id="internalNav" style="width:10%; float:left">
        <div id="customerSelect">
          <span>Customer</span>
          <select id="cid" style="width:100%"></select>
        </div>
        <div id="appSelect" style="display:none">
          <span>App</span>
          <select id="guid" style="width:100%; float:left"></select>
        </div>
        <div style="width:100%; text-align:center"> ------------- </div>
        <ul id="pages">
          <li id="dashboard"><a href='javascript:void(0);'>Dashboard</a></li>
          <li id="lifecycles">Lifecycles</li>
          <li id="profiling"><a href='javascript:void(0);'>Profiling</a></li>
        </ul>
      </div>
      <div id="segContainer" style="width:88%; float:right">
        <span>Segmentation Controls</span>
        <div id="segControls">
        </div>
      </div>
      <div style="text-align:center">
        <input id="fetch" type="button" value="Run" />
      </div>
    </div>
    
    {% block module %}{% endblock %}
  <script>
    window.base_api = "{{ api_url }}";
    $( window ).load( function () {

      //set up the cid selector
      customers = {{ customers|tojson }}
      console.log(customers)

      cids = customers.map( function(item) { return { id: item.cid, text: item.name} } )
      cids.unshift("") //select2 works with a placeholder only with explicit blank option at the top
      $( "#cid" ).select2({
          placeholder: "Select a customer",
          data: cids
      })

      $( "#cid" )
        .on("select2:select", function(yo) { 
          console.log('select', yo) 
          selectedCid = typeof yo.params !== 'undefined' ? yo.params.data.id : $("#cid").val() //ugh. Handle initial set in an ugly way :(
          
          selectedGuids = $.map(customers.filter( function(item) { return item.cid == selectedCid })[0].apps || {}, function(app, index) { return { id: app.guid, text: app.name }}) 
          selectedGuids.unshift("")
          $( "#appSelect" ).css({"display": "inline"})
          $( "#guid" )
            .empty()
            .select2({
              placeholder: "Select an app",
              data: selectedGuids
              })
            .on("select2:select", function(selectEvent) {
              console.log('select guid', selectEvent);
              selectedGuid = typeof selectEvent.params !== 'undefined' ? selectEvent.params.data.id : $("#guid").val()
              console.log('selected', selectedGuid)
              window.s = segControls( "#segControls", {cid: selectedCid, guid: selectedGuid}) 
              makeGraphs();
              })
        })

      $( "#fetch" ).on("click", function() {
          makeGraphs(s);
      });
      
      $( '#dashboard a' ).on('click', function() {
          window.location.href = "./"
      })

      $( '#dashboard a' ).on('click', function() {
          controls = typeof s != 'undefined' ? s.read() : '';
          args = controls ? '?' + $.param(controls) : '';
          link_url = "./" + args 
          window.location.href = link_url;
      })
      $( '#profiling a' ).on('click', function() {
          controls = typeof s != 'undefined' ? s.read() : '';
          args = controls ? '?' + $.param(controls) : '';
          link_url = "./profiling" + args 
          window.location.href = link_url;
      })

      //handle url params if they exist
      //(guid will only exist if cid is also set) 
      {% if page_state.guid %}
      $( "#cid" ).val("{{ page_state.cid }}").change().trigger("select2:select")
      $( "#guid" ).val("{{ page_state.guid }}").change().trigger("select2:select")
      selected = "{{ page_state.selector }}" != "False" ? "{{ page_state.selector }}" : false;
      breakout = "{{ page_state.breakout }}" != "False" ? "{{ page_state.breakout }}" : false;
      window.s = segControls ( "#segControls", {cid: "{{page_state.cid}}", guid: "{{page_state.guid}}"}) 
      s.set(selected, breakout, function() { makeGraphs(s); })

      {% endif %}

    });
  </script>

</body>
</html>
